.box{
    width: 300px;
    height: 380px;
    border-right: 1px solid lightgray;
    text-align: center;
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.img-size{
    width: 150px;
    height: 150px;
}

.WIN {
    color: blue;
    border-radius: 10px;
}

.TIE {
    color: black;
    border-radius: 10px;
}

.LOSE {
    color: red;
    border-radius: 10px;
}