.box{
    width: 300px;
    height: 400px;
    background-color: aliceblue;
    border: 10px solid black;
    text-align: center;
}

.img-size{
    width: 200px;
    height: 200px;
}

.WIN {
    border: 10px solid blue;
    color: blue;
}

.TIE {
    border: 10px solid black;
    color: black;
}

.LOSE {
    border: 10px solid red;
    color: red;
}