.wrap{
  width: 700px;
  height: 700px;
  background-color: lightgrey;
  margin: 0 auto;
  border-radius: 10%;
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
}

.area{
  display: flex;
  justify-content: center;
}

.btn{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: none;
  margin: 10px;
}

.btn-img{
  width: 80%;
  height: 70%;
}