body{
  background-color: hotpink;
}

.wrap{
  width: 500px;
  height: 650px;
  background-color: white;
  margin: 30px auto;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 1px 1px 3px 1px lightgray;
}

.counter{
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid lightgray;
}

.counter>div{
  width: 40px;
}

.reset-btn{
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid lightgray;
  margin-left: 320px;
  font-size: 15px;
  font-weight: 600;
  background-color: white;
}

.area{
  display: flex;
  justify-content: center;
}

.btn-area{
  border-top: 1px solid lightgray;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}

.btn{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid lightgray;
  background-color: white;
}

.btn-img{
  width: 80%;
  height: 70%;
}